<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dbName</key>
	<string>local.db</string>
	<key>dbVersion</key>
	<integer>2</integer>
	<key>dbTables</key>
	<array>
		<dict>
			<key>contactsTable</key>
			<array>
				<dict>
					<key>carCode</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>name</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>tel</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>carType</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>owner</key>
					<string>TEXT</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>repairHistoryTable</key>
			<array>
				<dict>
					<key>ID</key>
					<string>INTEGER PRIMARY KEY AUTOINCREMENT</string>
				</dict>
				<dict>
					<key>carCode</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>totalKm</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>repairTime</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>repairType</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>addition</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>tipCircle</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>isCloseTip</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>circle</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>isreaded</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>owner</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>idFromNode</key>
					<string>TEXT</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
